
.banner-text-login {
    text-align: center;
    font-size: 20px;
  }
  
  .tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50%; 
    background-color: #f0f0f0; 
    flex-direction: column;
  }
  
  .tabs-switch {
    max-width: 100%; 
    background-color: #fff; 
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ant-tabs-tabpane {
    display: flex;
    flex-direction: column;
  }
  
  .ant-tabs-tabpane form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .ant-tabs-tabpane input {
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ant-tabs-tabpane button {
    background-color: black;
    color: #fff;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .back-button{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .fullname-container{
    background-color: black;
    color: #D2DE32;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  .contactnumber-container{
    background-color: black;
    color: #D2DE32;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  .emailaddress-container{
    background-color: black;
    color: #D2DE32;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  .button {
    background-color: black;
    margin-top: 20px;
    color: #D2DE32;
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer;
    margin-right: 10px; 
    padding: 8px 16px;
  }

  .log-in-button {
  background-color: black;
  margin-top: 20px;
  color: #D2DE32;
  border-radius: 10px; 
  padding: 10px 20px; 
  cursor: pointer;
  margin-right: 10px; 
  padding: 8px 16px;
}

  .submit-button {
    background-color: black;
    /* margin-top: 20px; */
    color: #D2DE32;
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer;
    /* margin-right: 10px; 
    padding: 8px 16px; */
  }


  @media (min-width: 768px) {
    .tabs-container {
      flex-direction: row;
    }
    .tabs-switch {
      width: auto;
      max-width: 400px; 
    }
  }

  .password-input {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eye-icon {
    width: 20px; 
    height: 20px;
  }

  .label-col {
    text-align: left;
    font-weight: bold;
    font-size: 20px; 
    color: black; 
  }
  
  .content-col {
    text-align: left;
    font-style: italic;
    font-size: 20px; 
    color: black; 
  }
