.select-container {
    background-color: #D2DE32;
    border: 1px solid black;
    margin: 2%;
    font-weight: bold;
    padding: 10px;
    color: #333;
    cursor: pointer;
    border-radius: 7px;
    width: 200px;
    margin-right: 20%;
}
.select-container option {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
}
.select-container :hover {
    background-color: #D9D9D9;
}
@media (min-width: 390px) {
    .select-container {
        width: 120px;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .select-container {
        width: 150px;
    }
}

@media (min-width: 1001px) {
    .select-container {
        width: 200px;
    }
   
}