.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-container {}

.search-container {}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .search-container {
        order: 2;
    }

    .menu-container {
        order: 1;
    }
}