img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.movieList-title {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.movieList-container {
    margin: 0;
    
}

.ant-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ant-menu-item a {
    color: #333;
    text-decoration: none;
}

p {
    margin:2%;
    color: black;
    font-weight: bold;
}
.movieList-container{
    margin: 1%;
}
  
@media (min-width: 390px) {
    .movieList-rowOne .ant-col {
        flex: 0 0 50%; 
        max-width: 50%;
    }
    .movieList-title {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .movieList-rowOne .ant-col {
        flex: 0 0 33.333%; 
        max-width: 33.333%;
    }
    .movieList-title {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
}

@media (min-width: 1001px) {
    .movieList-rowOne .ant-col {
        flex: 0 0 20%; 
        max-width: 20%;
    }
    .movieList-title {
        font-size: 35px;
    }
    p {
        font-size: 15px;
    }
}
