.reservation-card {
    text-align: center;
}
.maindiv-container{
    background-color: yellow;
}
.reservation-card img {
    border-radius: 20px;
}

.reservation-details {
    text-align: center;
}


.reservationMain-container {
    border: 1px solid black;
    
}
.ant-col{
    padding: 30px;
    background-color: yellow;
}

/* .reservationMain-container .reservation-container {
    background-color: white;
    padding: 2%;
} */

@media (min-width: 390px) {
    .reservation-card img {
        height: 85%;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    .reservation-card img {
        height: 100%;
    }
}

@media (min-width: 1001px) {
    .reservation-card img {
        align-items: center;
        height: 80%;
    }
}